The software provided in this package was developed for the UNIX UBUNTU operational system.  The codes may be adapted to other operational systems, but these systems are not supported.

In order to run the codes, you will need to have installed:

bash scripts

gfortran

python3.6, along with the packages

pandas
numpy
sklearn

These packages can be easily installed with pip on a terminal, for instance:

pip install numpy

To visualize the results, you will need to install octave
